<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>fli.inexika.com</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common.css" rel="stylesheet">
    <script src="/static/js/jquery-1.10.2.min.js"></script>

    <script src="/static/js/jquery.blockUI.js"></script>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <script type="text/javascript">
    $(document).ready(function() {
       {% for message in messages %}
        $.growlUI('{{ message }}');
       {% endfor %}
       })
    </script>
{% endif %}
{% endwith %}
  </head>
  <body>
    <div class="container">
    {% block content %}{% endblock %}
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
