{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/redmond/jquery.ui.theme.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ui.jqgrid.css" mce_href="/static/css/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/jquery.splitter.css" />

<style type="text/css">
html, body {
    margin: 0;
    padding: 0;
    /*font-size: 80%;*/
}
</style>
<SCRIPT type="text/javascript" src="/static/js/jquery.splitter-0.6.0.js"></SCRIPT>

<script type="text/javascript" src="/static/js/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/static/js/jquery.jqGrid.src.js"></script>
<script type="text/javascript" src="/static/js/grid.js"></script>


    <script type="text/javascript">

    var myLayout;
    $(document).ready(function(){
         $('#content').height(1000).split({orientation:'horizontal', position: '50%'});
         $('#topPane').on('resize', function(event){
             grid.setCaption("");
             $(".ui-jqgrid-titlebar").hide();
             grid.jqGrid('setGridHeight', $('#topPane').height() - $(".ui-jqgrid-hdiv").height() - 5);
        });
        $('#topPane').trigger('resize');
    });
    </script>

{% endblock %}
{% block content %}
    <div id="content">
        <div id="topPane">
            <table id="keynav"></table>
        </div>
        <div id="bottomPane">
        </div>
    </div>
{% endblock %}